<div class="flex justify-end p-4">
	<app-logout-button></app-logout-button>
</div>
<div class="p-6">
	<h1 class="text-3xl font-bold mb-6 text-center">Available Doctors</h1>

	<div *ngIf="doctors.length === 0" class="text-center text-gray-500">
		No doctors available at the moment.
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		<div *ngFor="let doctor of doctors" class="border rounded-lg shadow-md p-4 bg-white">
			<h2 class="text-2xl font-semibold mb-2">Name: {{ doctor.name }}</h2>
			<p class="text-black mb-1 text-xl"><strong>Specialization:</strong> {{ doctor.specialization }}</p>
			<p class="text-black mb-2"><strong>Available Slots:</strong></p>
			<ul class="list-disc list-inside text-black mb-4">
				<li *ngFor="let slot of doctor.availableSlots || []">
					{{ slot.date }} ({{ slot.startTime }} - {{ slot.endTime }})
				</li>
			</ul>
			<button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 cursor-pointer"
				(click)="bookAppointment(doctor.id)">
				Book Appointment
			</button>
		</div>
	</div>
</div>