<app-header></app-header>
<form #f="ngForm" (ngSubmit)="f.form.valid && signup()"
    class="flex flex-col gap-5 max-w-md mx-auto mt-10 p-6 border rounded">
    <h2 class="text-3xl text-black font-bold ">Sign Up</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="model.username" required minlength="3"
        #username="ngModel" class="w-full p-2 border rounded"
        [class.border-red-500]="username.invalid && (username.dirty || username.touched)" />
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-red-500">
        <small *ngIf="username.errors?.['required']">Username is required.</small>
        <small *ngIf="username.errors?.['minlength']">Username must be at least 3 characters long.</small>
    </div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="model.email" required email #email="ngModel"
        class="w-full p-2 border rounded" [class.border-red-500]="email.invalid && (email.dirty || email.touched)" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-500">
        <small *ngIf="email.errors?.['required']">Email is required.</small>
        <small *ngIf="email.errors?.['email']">Please enter a valid email address.</small>
    </div>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="model.password" required minlength="6"
        #password="ngModel" class="w-full p-2 border rounded"
        [class.border-red-500]="password.invalid && (password.dirty || password.touched)" />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-500">
        <small *ngIf="password.errors?.['required']">Password is required.</small>
        <small *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</small>
    </div>

    <button type="submit" [disabled]="!f.form.valid"
        class="bg-red-500 text-white p-2 rounded disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer">Sign Up</button>
</form>